body {
    background-color: #232323;
    margin: 0;
    font-family: "Avenir", "Montserrat";
}

h1 {
    color: white;
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

.selected {
    color: white;
    background-color: steelblue;
}

#message {
    display: inline-block;
    width: 30%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

button {
    background: none;
    color: steelblue;
    border: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}

.square {
    background: royalblue;
    padding-bottom: 30%;
    width: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 17.5%;
    transition: background 0.75s;
    -webkit-transition: background 0.75s;
    -moz-transition: background 0.75s;
}

button:hover {
    color: white;
    background: steelblue;
}

/* Tooltip container */
.tooltip {
    height: 20px;
    width: 100%;
    text-align: center;
    color: steelblue;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(245, 239, 239);
    color: steelblue;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 23px;
    left: 40%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    transform: rotate(180deg);
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgb(245, 239, 239) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}