:root {
    --main-color: steelblue;
    --container-color:#232323;
    --white: white;
}
body {
    background-color: var(--container-color);
    margin: 0;
    font-family: "Avenir", "Montserrat";
}

h1 {
    color: var(--white);
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    background: var(--main-color);
    margin: 0;
    text-transform: uppercase;
    padding: 5px 0;
}

#colorDisplay {
    font-size: 200%
}

.selected {
    color: var(--white);
    background-color: var(--main-color);
}

#message {
    display: inline-block;
    width: 30%;
}

#stripe {
    background-color: var(--white);
    height: 30px;
    text-align: center;
    color: black;
}

button {
    background: none;
    color: var(--main-color);
    border: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

#container{
    /* margin: auto; */
    height: 450px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 130px);
    grid-auto-rows: 130px;
    justify-content: center;
    align-content: center;
}

.square {
    background: royalblue;
    border-radius: 17.5%;
    transition: background 0.75s;
    -webkit-transition: background 0.75s;
    -moz-transition: background 0.75s;
}

button:hover {
    color: var(--white);
    background: var(--main-color);
}

/* Tooltip container */
.tooltip {
    height: 20px;
    width: 100%;
    text-align: center;
    color: var(--main-color);
    background-color: #fff;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(245, 239, 239);
    color: var(--main-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 23px;
    left: 40%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    transform: rotate(180deg);
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgb(245, 239, 239) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}